<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>宝贵意见</title>
    <link rel="stylesheet" href="../static/css/main2.css" th:href="@{/asserts/css/main2.css}">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="header">宝贵意见</div>
<div class="main">
    <!--按钮：提交、重置-->
    <form>
        姓名(可以填写“匿名”）：
        <input type="text" name="myName"/>
        <input type="reset" value="重置" name="return"/>
    </form>
    <hr style="width:463px;margin-left:400px"/>

    <!--单选框、复选框-->
    <form><!--action="from_action.asq" method="get" 这只是个form用法的事例-->
        性别：
        男 <input type="radio" value="boy" name="gender" checked="checked"/>
        女 <input type="radio" value="girl" name="gender"/>
        <br/>
        偏好感受：
        <input type="checkbox" value="1" name="soft"/>柔和
        <input type="checkbox" value="2" name="fresh"/>清新
        <input type="checkbox" value="3" name="enthusiasm"/>热情
        <input type="checkbox" value="4" name="stimulate"/>刺激
        <input type="checkbox" value="5" name="others"/>其它
    </form>
    <hr style="width:463px;margin-left:400px"/>
    <!--文本域-->
    <div id="content">
        <form>
            <table border="1">
                <td>
                    建议：<br>
                    <textarea rows="15" cols="66">在这里输入内容：</textarea>
                    <br>
                    <input type="submit" value="确定"/>
                    <input type="reset" value="重置"/>
                    <script src="../static/js/upload.js" th:src="@{/asserts/js/upload.js}"></script>
                </td>
            </table>
        </form>
    </div>
    <div id="return"><h1><a href="Examine1.html" th:href="@{/page1}">点我返回主页面</a></h1></div>
    <br><br><br><br><br><br>

    <div id=""></div>
</div>

<!--不知为什么会报错-->
<!--<div id="kun"><a href="http://bdtg.9377.com/1575/?uid=1575kk790"></div>-->

<div id="gg"><a href="Examine3.html" th:href="@{/page3}">
    <img src="../static/picture/gg.gif" th:src="@{/asserts/picture/gg.gif}"></a>
</div>


</body>
</html>