#container {
    margin: 0 auto;
    width: 1000px;
    height: 980px;
    background-image: url('../picture/background.jpg');
    background-repeat: no-repeat;
    font-family: KaiTi;
    border: 2px solid black;
}

#main {
    height: 500px;
    margin-bottom: 20px;
}

#aside1 a:hover {
    font-size: 25px;
    font-weight: 500;
    transition: linear 0.2s;
    color: black;
}

#aside1 a:link {
    text-decoration: none;
    color: black;
}

#aside1 a:visited {
    text-decoration: none;
    color: black;
}

#use a:visited {
    text-decoration: none;
    color: black;
}

#content {
    float: left;
    margin-left: 20px;
    width: 730px;
    border: 1px solid black;
}

#use {
    height: 20px;
}

#aside1 {
    width: 210px;
    float: left;
    border: 1px solid black;
}

#aside0 {
    height: 500px;
    width: 20px;
    float: left;
}

#footer {
    margin: 20px;
    width: 730px;
    float: right;
}

#header {
    color: black;
    text-shadow: 5px 5px 10px #000;
    font-size: 70px;
    font-family: KaiTi;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    height: 100px;
}

#use {
    float: right;
    margin-right: 40px;
}

h4 {
    font-size: 50px;
    color: #4A4A48;
    text-shadow: 5px 5px 10px grey;
}

#author {
    text-align: right;
}
